/* GLOBAL STYLES */
.
.
.
p {
  line-height: 1.5;
  margin: 0.75em 0;
}
.
.
.
/* HOMEPAGE STYLES */
.
.
.
.home-callout {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 7vh 0;
}
.home-callout h3 {
  color: inherit;
  margin-top: 1em;
}
.callout-title {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 5.75vw;
  text-align: right;
  text-transform: uppercase;
}
.callout-copy {
  flex-basis: 45em;
  flex-shrink: 0;
  font-size: 0.8rem;
  padding: 0 3vw;
}
