body {
  display: flex;
  flex-direction: column;
  font-family: helvetica, arial, sans;
  min-height: 100vh;
}
.content-container {
  flex-grow: 1;
  padding-top: 10vh;
  width: 100%;
}
.
.
.
/* HERO STYLES */
.
.
.
.full-hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  height: 90vh;
}
