@media (max-width: 800px) {
  .
  .
  .
  /* GALLERY STYLES */
  .gallery {
    flex-direction: column;
  }
  .gallery .col {
    padding: 1em;
  }
  .gallery .gallery-thumbs {
    flex: 1;
    height: auto;
    white-space: nowrap;
    width: 100vw;
  }
  .gallery-thumbs > div {
    display: inline-block;
  }
  .gallery-thumbs img {
    height: 7vh;
    margin: 0 10px 0 0;
    width: auto;
  }
  .gallery .gallery-info {
    flex: 1;
  }
}
