/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 10vh;
}
.full-hero:after {
  bottom: 2vh;
  color: #fff;
  content: "﹀";
  font-size: 36px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
