@media (max-width: 800px) {
  .
  .
  .
  /* HOME STYLES */
  .home-callout {
    flex-direction: column;
  }
  .callout-copy {
    flex: 1;
  }
  .bio-box {
    float: none;
    font-size: 1.3rem;
    width: auto;
  }
  /* BLOG STYLES */
  .
  .
  .
}
