@media (max-width: 800px) {
  html {
    box-shadow: none;
    padding: 0;
  }

  /* HEADER STYLES */
  .header-nav {
    padding: 2vh 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .nav-links a {
    font-size: 3.25vw;
  }
  .header-logo {
    left: auto;
  }

  /* BLOG STYLES */
  .post-aside {
    display: none;
  }
}
