.
.
.
.grid-header {
  background-color: #ccc;
  grid-area: header;
  padding: 1em;
  text-align: center;
}
.grid-menu {
  background-color: #c0c0c0;
  grid-area: menu;
  padding: 1em;
}
.grid-menu ul,
.grid-panel ul,
.grid-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid-content {
  grid-area: content;
  padding: 3em 3em 4em;
}
.grid-panel {
  border-left: 1px solid rgba(0,0,0,0.1);
  grid-area: panel;
  padding: 4em 2em 4em 3em;
}
.grid-footer {
  background-color: #ddd;
  grid-area: footer;
  padding: 4em 1em;
  text-align: center;
}
.grid-footer li {
  display: inline-block;
}
.
.
.
.grid-banner {
  align-self: start;
  background-color: rgba(168,214,247,0.9);
  grid-column: content-start / panel-end;
  grid-row-start: content-start;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 10;
}
.
.
.
